<div class="content theme-showcase custom-main-content" role="main">

   <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
     <div class="container text-center">
       <h1>Theme example</h1>
       <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
       <div class="jumbotron-buttons">
         <a href="{{ startProject.path }}">
           <button class="btn btn-success">{{ startProject.name }}</button>
         </a>
         <button class="btn btn-primary">Another button</button>
       </div>
     </div>
   </div>

   <div class="home-container container">

   <div class="home-header text-center">
     <h1 class="home-title">The Bootstrap Blog</h1>
     <p class="lead home-description">The official example template of creating a blog with Bootstrap.</p>
   </div>

   <div class="row">
     <div class="col-md-8 col-sm-8 col-xs-12 home-main">
       <h3>Header of home main content</h3>
       <p>
         Aliquam et metus gravida, convallis ligula eu, ultrices ipsum. Suspendisse interdum semper erat, eget ornare ipsum pharetra at. Etiam efficitur placerat diam, vitae iaculis magna mattis et. Curabitur at sem ultricies, faucibus est ac, blandit tortor. Morbi ut convallis ipsum, vel mattis enim. Vestibulum eget sem et ex sagittis sodales at id lectus. Phasellus commodo dapibus arcu, vitae rutrum mauris sodales et. Praesent sem arcu, feugiat et finibus eget, tristique in orci. Etiam sit amet neque porttitor, tempor ligula vel, dapibus sem.

         Nullam elementum, lectus porttitor gravida suscipit, augue nisi mollis massa, vitae mollis quam orci vitae mi. Ut vel sem cursus lectus pretium tristique. Etiam scelerisque sit amet lectus sed dignissim. Morbi sagittis nisi id mattis maximus. In varius, libero sed imperdiet porttitor, nulla libero viverra felis, id aliquam lectus purus vel purus. Curabitur rhoncus porttitor lacus, eu feugiat nibh fringilla eget. Aenean consectetur dignissim metus, sed pretium augue finibus vitae. Vestibulum molestie posuere ipsum, quis aliquet dolor sagittis ut.
       </p>
     </div>
     <div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-8 home-sidebar">
       <div class="sidebar-module well">
         <h4>Sidebar</h4>
         <p>
           Lorem ipsum dolor sit amet,
           consectetur adipiscing elit.
           Integer tristique ex quis ipsum vulputate mattis.
            Mauris ac nisl a enim varius varius ut vel magna.
             Pellentesque quis scelerisque lorem.
         </p>
       </div>
     </div>
   </div>

   </div><!--/container-->
 </div> <!-- /content -->

 <app-footer></app-footer>
