<footer>
     <div class="footer-content">
       <div class="container footer-container">
       <div class="row">
         <div class="footer-left col-md-8 col-sm-8 col-xs-12">
           <h3>Aliquam et metus gravid</h3>
           <p>
             Nullam elementum, lectus porttitor gravida suscipit,
             augue nisi mollis massa, vitae mollis quam orci vitae mi.
             Ut vel sem cursus lectus pretium tristique.
             Etiam scelerisque sit amet lectus sed dignissim.
             Morbi sagittis nisi id mattis maximus.
             In varius, libero sed imperdiet porttitor,
             nulla libero viverra felis, id aliquam lectus purus vel purus.
             Curabitur rhoncus porttitor lacus, eu feugiat nibh fringilla eget.
             Aenean consectetur dignissim metus, sed pretium augue finibus vitae
           </p>
         </div>
         <div class="footer-right text-center col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
           <div class="list-group">
             <a href="{{ menu.home.path }}" class="list-group-item">
               {{ menu.home.name }}</a>
             <a href="{{ menu.createProject.path }}" class="list-group-item">
               {{ menu.createProject.name }}</a>
             <a href="{{ menu.contactUs.path }}" class="list-group-item">
             {{ menu.contactUs.name }}</a>
             <a href="#" class="list-group-item">Another link</a>
           </div>
         </div>
       </div>
      </div>
    </div>
     <div class="footer-bottom text-center">
       <span>Copyright</span>
     </div>
   </footer>
