/* form */
.login-form-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}
.form-inactive {
  display: none;
}
.login-register-form-box {
  top: 20%;
  background-color: #fff;
  padding: 20px;
}
.login-register-tab {
  width: 100%;
}
.login-register-tab li {
  font-size: 20px;
  width: 50%;
  text-align: center;
}
.login-register-form-box .form-group {
  display: block;
  width: 80%;
  margin: auto;
}
.login-register-form-box .form-group,
.fb-button .btn
 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.alert {
  padding: 5px 15px;
}
.or-separator {
  margin: 0;
}
.login-register-form-box .form-group .btn,
.fb-button .btn {
  width: 200px;
}
.btn-facebook {
  text-align: left;
}
.facebook-login-icon {
  display: inline;
  vertical-align: middle;
}
.facebook-login-text {
  display: inline-block;
  width: 90%;
}
.close-form {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.close-form i {
  color: #000;
  font-size: 20px;
}
