
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ menu.home.path }}">Bootstrap theme</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ menu.home.path }}">
          {{ menu.home.name }}</a></li>
        <li><a href="{{ menu.createProject.path }}">
          {{ menu.createProject.name }}</a></li>
        <li><a href="">
          Contact</a></li>
      </ul>
      <div class="custom-navbar-right navbar-right">
        <h4 class="nav-user-name" *ngIf='GetUserName() && IsUserLogIn()'>Hello <span>{{ GetUserName() }}</span></h4>
        <button *ngIf='!IsUserLogIn()' class="btn btn-success" (click)='LogIn($event)'>
          LogIn/Register
        </button>
        <button *ngIf='IsUserLogIn()' class="btn btn-success" (click)='LogOut($event)'>
          LogOut
        </button>

      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
